@using System.Reflection
@using TryMudBlazor.Client.Services
@implements IDisposable

<Router AppAssembly="@typeof(Program).Assembly"
        AdditionalAssemblies="@_additionalAssemblies">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(EmptyLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(EmptyLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    private Assembly[] _additionalAssemblies;
    private readonly UserComponentsAssemblyService _assemblyService;

    public App(UserComponentsAssemblyService assemblyService)
    {
        _assemblyService = assemblyService;
        assemblyService.OnAssemblyChanged += HandleAssemblyChanged;
        _additionalAssemblies = [assemblyService.Assembly];
    }

    protected override void OnInitialized()
    {
    }

    private void HandleAssemblyChanged()
    {
        _additionalAssemblies = [_assemblyService.Assembly];
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        _assemblyService.OnAssemblyChanged -= HandleAssemblyChanged;
    }
}
